[Unit]
Description=Bifrost Agent Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/bifrost-agent/bifrost-agent.py
WorkingDirectory=/opt/bifrost-agent
Restart=always
Environment=BIFROST_API_URL=http://192.168.86.129:8080/api/v1/vms
Environment=REDIS_HOST=192.168.86.129
Environment=REDIS_PORT=6379
Environment=REDIS_PENDING_HASH=pending_actions
Environment="BIFROST_INVENTORY_INTERVAL=60"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
